<header class="header header-absolute" style="position: fixed">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a href="${properties.rootPath || currentStyle.rootPath @ extension='html'}" class="navbar-brand">
				<div class="logo-header-footer" data-sly-resource="${'image' @ resourceType='aem-template/components/content/image'}"></div>
            </a>
            <button type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">
   				<i class="fa fa-bars"></i></button>
            <!-- Navbar Collapse -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <div class="cmp-navigation--header navbar-nav mx-auto we-navigation" data-sly-resource="${'navigation' @ resourceType='aem-template/components/structure/navigation'}"></div>
                <div class="d-flex align-items-center justify-content-between justify-content-lg-end mt-1 mb-2 my-lg-0">
                    <!-- Search Button-->
                    <div data-toggle="search" class="nav-item navbar-icon-link">
                    	<a href="/content/cultura/fr/resultat-de-la-recherche.html">
                        	<i class="fas fa-search"></i>
                        </a>
                    </div>
                    <!-- User Not Logged - link to login page-->
                    <div class="nav-item"><a href="#" class="navbar-icon-link">
                            <i class="fas fa-user-circle"></i>
                            <span
                                class="text-sm ml-2 ml-lg-0 text-uppercase text-sm font-weight-bold d-none d-sm-inline d-lg-none">Log
                                in </span></a></div>
                    <!-- Cart Dropdown-->
                    <div class="nav-item dropdown"><a href="#" class="navbar-icon-link d-lg-none">
 							<i class="fas fa-shopping-cart"></i>
                            <span
                                class="text-sm ml-2 ml-lg-0 text-uppercase text-sm font-weight-bold d-none d-sm-inline d-lg-none">View
                                cart</span></a>
                        <div class="d-none d-lg-block"><a id="cartdetails" href="#" data-target="#"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                class="navbar-icon-link dropdown-toggle">
								<i class="fas fa-shopping-cart"></i>
                                <div class="navbar-icon-link-badge">3 </div>
                            </a>
                            <div aria-labelledby="cartdetails" class="dropdown-menu dropdown-menu-right p-4">
                                <div class="navbar-cart-product-wrapper">
                                </div>
                                <!-- total price-->
                                <div class="navbar-cart-total"><span
                                        class="text-uppercase text-muted">Total</span><strong
                                        class="text-uppercase">$0.00</strong></div>
                                <!-- buttons-->
                                <div class="d-flex justify-content-between"><a href="#"
                                        class="btn btn-link text-dark mr-3">View Cart <i
                                            class="fa-arrow-right fa"></i></a><a href="#"
                                        class="btn btn-outline-dark">Checkout</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="header-padding"></div>