<div data-sly-use.products="com.adobe.poc.core.ProductCategorySlider" data-sly-unwrap>
    <div class="row">
        <div
            class="products-grid col-xl-${properties.isSearch ? '9' : '12' } col-lg-${properties.isSearch ? '8' : '12' } order-lg-2">
            <div class="row row-space">
                <!-- product-->
                <div data-sly-repeat="${products.productsFromSearch}" class="product-slider-item" data-sly-unwrap>
                    <div class="col-xl-${properties.isSearch ? '4' : '3' } col-sm-${properties.isSearch ? '6' : '4' }">
                        <div class="product product-grid">
                              <div class="product-image">
                                  <div
										data-sly-test="${item.prices[0].isDiscount == true}"
										data-sly-unwrap>
										<div class="ribbon ribbon-primary">Promo</div>
								  </div>
                                  <img src="${item.image}" alt="product" class="img-fluid" />
                                  <div class="product-hover-overlay"><a href="#l"
                                          class="product-hover-overlay-link"></a>
                                      <div class="product-hover-overlay-buttons"><a href="#"
                                              class="btn btn-outline-dark btn-product-left"><i
                                                  class="fa fa-shopping-cart"></i></a><a href="#l"
                                              class="btn btn-dark btn-buy"><i class="fa-search fa"></i><span
                                                  class="btn-buy-label ml-2">Aperçu</span></a><a href="#"
                                              data-toggle="modal" data-target="#exampleModal"
                                              class="btn btn-outline-dark btn-product-right"><i
                                                  class="fa fa-expand-arrows-alt"></i></a>
                                      </div>
                                  </div>
                            </div>
                            <div class="content-detail">
                                <p class="content-text-title"><a href="#" class="text-title-link">${item.name}</a></p>
                                <div data-sly-test="${item.isInStock == true}"
                                    data-sly-unwrap>
                                    <p class="content-text-stock">En Stock</p>
                                </div>
                                <div data-sly-test="${item.isInStock == false}"
                                    data-sly-unwrap>
                                    <p class="content-text-stock">Rupture de Stock</p>
                                </div>
                                <p class="content-text-price">${ '#.##' @ format=item.prices[0].price} &#8364;</p>
                                <a class="btn" href="#" role="button">Ajouter au panier</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /product-->
            </div>
            <nav aria-label="page navigation" class="d-flex justify-content-center mb-5 mt-3">
                <ul class="pagination">
                    <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span
                                aria-hidden="true">Prev</span><span class="sr-only">Previous</span></a></li>
                    <li class="page-item active"><a href="#" class="page-link">1 </a></li>
                    <li class="page-item"><a href="#" class="page-link">2 </a></li>
                    <li class="page-item"><a href="#" class="page-link">3 </a></li>
                    <li class="page-item"><a href="#" class="page-link">4 </a></li>
                    <li class="page-item"><a href="#" class="page-link">5 </a></li>
                    <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span
                                aria-hidden="true">Next</span><span class="sr-only">Next </span></a></li>
                </ul>
            </nav>
        </div>
        <!-- / Grid End-->
        <!-- Sidebar-->
        <div data-sly-test="${properties.isSearch}" data-sly-unwrap>
            <div class="sidebar col-xl-3 col-lg-4 order-lg-1">
                <div class="sidebar-block px-3 px-lg-0 mr-lg-4"><a data-toggle="collapse" href="#priceFilterMenu"
                        aria-expanded="false" aria-controls="priceFilterMenu" class="d-lg-none block-toggler">Filter by
                        price</a>
                    <div id="priceFilterMenu" class="expand-lg collapse">
                        <h6 class="sidebar-heading d-none d-lg-block">Price </h6>
                        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                        <script>
                            $(function () {
                                $("#slider-range").slider({
                                    range: true,
                                    min: 0,
                                    max: 500,
                                    values: [75, 300],
                                    slide: function (event, ui) {
                                        $("#slider-snap-input-lower").val("€" + ui.values[0]);
                                        $("#slider-snap-input-upper").val("€" + ui.values[1]);
                                    }
                                });
                                $("#slider-snap-input-lower").val("€" + $("#slider-range").slider("values", 0));
                                $("#slider-snap-input-upper").val("€" + $("#slider-range").slider("values", 1));
                            });
                        </script>
                        <div id="slider-range"></div>
                        <div class="nouislider-values">
                            <div class="min"><span id="slider-snap-value-lower">From <input type="text" name="pricefrom"
                                        readonly id="slider-snap-input-lower" class="slider-snap-input"
                                        style="border:0"></span></div>
                            <div class="max"><span id="slider-snap-value-upper">To <input type="text" name="priceto"
                                        readonly id="slider-snap-input-upper" class="slider-snap-input"
                                        style="border:0"></span></div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-block px-3 px-lg-0 mr-lg-4"><a data-toggle="collapse" href="#brandFilterMenu"
                        aria-expanded="true" aria-controls="brandFilterMenu" class="d-lg-none block-toggler">Filter by
                        brand</a>
                    <!-- Brand filter menu - this menu has .show class, so is expanded by default-->
                    <div id="brandFilterMenu" class="expand-lg collapse show">
                        <h6 class="sidebar-heading d-none d-lg-block">Brands </h6>
                        <form action="#" class="mt-4 mt-lg-0">
                            <div class="form-group mb-1">
                                <div class="custom-control custom-checkbox">
                                    <input id="brand0" type="checkbox" name="clothes-brand" checked
                                        class="custom-control-input">
                                    <label for="brand0" class="custom-control-label">Calvin Klein
                                        <small>(18)</small></label>
                                </div>
                            </div>
                            <div class="form-group mb-1">
                                <div class="custom-control custom-checkbox">
                                    <input id="brand1" type="checkbox" name="clothes-brand" checked
                                        class="custom-control-input">
                                    <label for="brand1" class="custom-control-label">Levi Strauss
                                        <small>(30)</small></label>
                                </div>
                            </div>
                            <div class="form-group mb-1">
                                <div class="custom-control custom-checkbox">
                                    <input id="brand2" type="checkbox" name="clothes-brand"
                                        class="custom-control-input">
                                    <label for="brand2" class="custom-control-label">Hugo Boss
                                        <small>(120)</small></label>
                                </div>
                            </div>
                            <div class="form-group mb-1">
                                <div class="custom-control custom-checkbox">
                                    <input id="brand3" type="checkbox" name="clothes-brand"
                                        class="custom-control-input">
                                    <label for="brand3" class="custom-control-label">Tomi Hilfiger
                                        <small>(70)</small></label>
                                </div>
                            </div>
                            <div class="form-group mb-1">
                                <div class="custom-control custom-checkbox">
                                    <input id="brand4" type="checkbox" name="clothes-brand"
                                        class="custom-control-input">
                                    <label for="brand4" class="custom-control-label">Tom Ford
                                        <small>(110)</small></label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="sidebar-block px-3 px-lg-0 mr-lg-4"> <a data-toggle="collapse" href="#sizeFilterMenu"
                        aria-expanded="false" aria-controls="sizeFilterMenu" class="d-lg-none block-toggler">Filter by
                        size</a>
                    <!-- Size filter menu-->
                    <div id="sizeFilterMenu" class="expand-lg collapse">
                        <h6 class="sidebar-heading d-none d-lg-block">Size </h6>
                        <form action="#" class="mt-4 mt-lg-0">
                            <div class="form-group mb-1">
                                <div class="custom-control custom-radio">
                                    <input id="size0" type="radio" name="size" checked class="custom-control-input">
                                    <label for="size0" class="custom-control-label">Small</label>
                                </div>
                            </div>
                            <div class="form-group mb-1">
                                <div class="custom-control custom-radio">
                                    <input id="size1" type="radio" name="size" class="custom-control-input">
                                    <label for="size1" class="custom-control-label">Medium</label>
                                </div>
                            </div>
                            <div class="form-group mb-1">
                                <div class="custom-control custom-radio">
                                    <input id="size2" type="radio" name="size" class="custom-control-input">
                                    <label for="size2" class="custom-control-label">Large</label>
                                </div>
                            </div>
                            <div class="form-group mb-1">
                                <div class="custom-control custom-radio">
                                    <input id="size3" type="radio" name="size" class="custom-control-input">
                                    <label for="size3" class="custom-control-label">X-Large</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="sidebar-block px-3 px-lg-0 mr-lg-4"><a data-toggle="collapse" href="#colourFilterMenu"
                        aria-expanded="false" aria-controls="colourFilterMenu" class="d-lg-none block-toggler">Filter by
                        colour</a>
                    <!-- Size filter menu-->
                    <div id="colourFilterMenu" class="expand-lg collapse">
                        <h6 class="sidebar-heading d-none d-lg-block">Colour </h6>
                        <div class="mt-4 mt-lg-0">
                            <ul class="list-inline mb-0 colours-wrapper">
                                <li class="list-inline-item">
                                    <label for="colour_sidebar_Blue" style="background-color: #668cb9"
                                        data-allow-multiple class="btn-colour"> </label>
                                    <input type="checkbox" name="colour" value="value_sidebar_Blue"
                                        id="colour_sidebar_Blue" class="input-invisible">
                                </li>
                                <li class="list-inline-item">
                                    <label for="colour_sidebar_White" style="background-color: #fff" data-allow-multiple
                                        class="btn-colour"> </label>
                                    <input type="checkbox" name="colour" value="value_sidebar_White"
                                        id="colour_sidebar_White" class="input-invisible">
                                </li>
                                <li class="list-inline-item">
                                    <label for="colour_sidebar_Violet" style="background-color: #8b6ea4"
                                        data-allow-multiple class="btn-colour"> </label>
                                    <input type="checkbox" name="colour" value="value_sidebar_Violet"
                                        id="colour_sidebar_Violet" class="input-invisible">
                                </li>
                                <li class="list-inline-item">
                                    <label for="colour_sidebar_Red" style="background-color: #dd6265"
                                        data-allow-multiple class="btn-colour"> </label>
                                    <input type="checkbox" name="colour" value="value_sidebar_Red"
                                        id="colour_sidebar_Red" class="input-invisible">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Sidebar end-->
    </div>
</div>