<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
	<sly data-sly-call="${clientlib.all @ categories='aem-template.site.product-carousel'}"/>
</sly>

<div data-sly-use.products="com.adobe.poc.core.ProductCrossSlider"
	data-sly-unwrap>
	<div class="owl-carousel owl-theme product-slider product-carousel">
		<!-- product-->
		<div data-sly-repeat="${products.productsFromSearch}"
			class="product-slider-item">
			<div class="product">
				<div class="product-image">
					<div
						data-sly-test="${item.prices[0].isDiscount == true}"
						data-sly-unwrap>
						<div class="ribbon ribbon-primary">Promo</div>
					</div>
					<!-- <div class="ribbon ribbon-primary">Promo</div> -->
					<img src="${item.image}" alt="product" class="img-fluid" />
					<div class="product-hover-overlay">
						<a href="#" class="product-hover-overlay-link"></a>
						<div class="product-hover-overlay-buttons">
							<a href="#" class="btn btn-dark btn-buy"> <i
								class="fa-search fa"></i><span class="btn-buy-label ml-2">Aperçu</span>
							</a>
						</div>
					</div>
				</div>
				<div class="content-detail">
					<p class="content-text-title">
						<a href="#" class="text-title-link">${item.name}</a>
					</p>
					<div
						data-sly-test="${item.isInStock == true}"
						data-sly-unwrap>
						<p class="content-text-stock">En Stock</p>
					</div>
					<div
						data-sly-test="${item.isInStock == false}"
						data-sly-unwrap>
						<p class="content-text-stock">Rupture de Stock</p>
					</div>
					<p class="content-text-price">${ '#.##' @ format=item.prices[0].price} &#8364;</p>
					<a class="btn" href="/content/cultura/fr/product.${item.sku}.html" role="button">Ajouter au panier</a>
				</div>
			</div>
		</div>
		<!-- /product classe pour l'auteur : content-text-info -->
	</div>
</div>
