<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
	<sly data-sly-call="${clientlib.js @ categories='aem-template.site.product-carousel'}"/>
</sly>

<div class="owl-carousel owl-theme product-slider product-carousel">
    <!-- product-->
    <div class="product-slider-item">
      <div class="product">
        <div class="product-image">
          <div class="ribbon ribbon-primary">Promo</div>
			<img src="https://media.cultura.com/media/catalog/product/cache/1/image/160x160/85e4522595efc69f496374d01ef2bf13/m/_/m._pokora_pyramide_cd_dvd_digipack_0190759445020_cd_0190759444924_double_vinyle_couleur_gatefold_0190759444917.jpg" alt="product"/>
			<div class="product-hover-overlay"><a href="#" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"><a href="#" class="btn btn-dark btn-buy"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Aperçu</span></a>
            </div>
          </div>
		</div>
        <div class="content-detail">
			<p class="content-text-title"><a href="#" class="text-title-link">PYRAMIDE (Edition collector) | CD 16 titres + DVD</a></p>
            <p class="content-text-info">M.POKORA</p>    
            <p class="content-text-price">$40.00</p>
            <a class="btn" href="#" role="button">Ajouter au panier</a>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="product-slider-item">
      <div class="product">
        <div class="product-image">
			<img src="https://media.cultura.com/media/catalog/product/cache/1/image/160x160/85e4522595efc69f496374d01ef2bf13/l/a/la-vie-secrete-des-ecrivains-9782702165485_0.jpg" alt="product" class="img-fluid"/>
          <div class="product-hover-overlay"><a href="#" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"><a href="#" class="btn btn-dark btn-buy"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Aperçu</span></a>
            </div>
          </div>
        </div>
        <div class="content-detail">
			<p class="content-text-title"><a href="#" class="text-title-link">PYRAMIDE (Edition collector) | CD 16 titres + DVD</a></p>
            <p class="content-text-info">M.POKORA</p>    
            <p class="content-text-price">$40.00</p>
            <a class="btn" href="#" role="button">Ajouter au panier</a>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="product-slider-item">
      <div class="product">
        <div class="product-image">
			<img src="https://media.cultura.com/media/catalog/product/cache/1/image/160x160/85e4522595efc69f496374d01ef2bf13/t/i/titeuf-petite-poesie-des-saisons-9782344036815_0.jpg" alt="product" class="img-fluid"/>
          <div class="product-hover-overlay"><a href="#" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"><a href="#" class="btn btn-dark btn-buy"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Aperçu</span></a>
            </div>
          </div>
        </div>
        <div class="content-detail">
			<p class="content-text-title"><a href="#" class="text-title-link">PYRAMIDE (Edition collector) | CD 16 titres + DVD</a></p>
            <p class="content-text-info">M.POKORA</p>    
            <p class="content-text-price">$40.00</p>
            <a class="btn" href="#" role="button">Ajouter au panier</a>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="product-slider-item">
      <div class="product">
        <div class="product-image">
			<img src="https://media.cultura.com/media/catalog/product/cache/1/image/160x160/85e4522595efc69f496374d01ef2bf13/a/s/asterix-le-secret-de-la-potion-magique-3475001057396_0.jpg" alt="product" class="img-fluid"/>
          <div class="product-hover-overlay"><a href="#" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"><a href="#" class="btn btn-dark btn-buy"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Aperçu</span></a>
            </div>
          </div>
        </div>
        <div class="content-detail">
			<p class="content-text-title"><a href="#" class="text-title-link">PYRAMIDE (Edition collector) | CD 16 titres + DVD</a></p>
            <p class="content-text-info">M.POKORA</p>    
            <p class="content-text-price">$40.00</p>
            <a class="btn" href="#" role="button">Ajouter au panier</a>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="product-slider-item">
      <div class="product">
        <div class="product-image">
          <div class="ribbon ribbon-danger">Sold out</div>
			<img src="https://media.cultura.com/media/catalog/product/cache/1/image/271x271/c96a280f94e22e3ee3823dd0a1a87606/r/a/ramette-papier-500f-a4-80g-ramette-papier-500f-a4-80g-indice-163-3700408392604_0.jpg" alt="product" class="img-fluid"/>
          <div class="product-hover-overlay"><a href="#" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"><a href="#" class="btn btn-dark btn-buy"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Aperçu</span></a>
            </div>
          </div>
        </div>
        <div class="content-detail">
			<p class="content-text-title"><a href="#" class="text-title-link">PYRAMIDE (Edition collector) | CD 16 titres + DVD</a></p>
            <p class="content-text-info">M.POKORA</p>    
            <p class="content-text-price">$40.00</p>
            <a class="btn" href="#" role="button">Ajouter au panier</a>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="product-slider-item">
      <div class="product">
        <div class="product-image">
			<img src="https://media.cultura.com/media/catalog/product/cache/1/image/160x160/85e4522595efc69f496374d01ef2bf13/l/a/la-cage-doree-9782330121099_0.jpg" alt="product" class="img-fluid"/>
          <div class="product-hover-overlay"><a href="#" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"><a href="#" class="btn btn-dark btn-buy"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Aperçu</span></a>
            </div>
          </div>
        </div>
        <div class="content-detail">
			<p class="content-text-title"><a href="#" class="text-title-link">PYRAMIDE (Edition collector) | CD 16 titres + DVD</a></p>
            <p class="content-text-info">M.POKORA</p>    
            <p class="content-text-price">$40.00</p>
            <a class="btn" href="#" role="button">Ajouter au panier</a>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="product-slider-item">
      <div class="product">
        <div class="product-image">
			<img src="https://media.cultura.com/media/catalog/product/cache/1/image/160x160/85e4522595efc69f496374d01ef2bf13/9/7/9782749932736.jpg" alt="product" class="img-fluid"/>
          <div class="product-hover-overlay"><a href="#" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"><a href="#" class="btn btn-dark btn-buy"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Aperçu</span></a>
            </div>
          </div>
        </div>
        <div class="content-detail">
			<p class="content-text-title"><a href="#" class="text-title-link">PYRAMIDE (Edition collector) | CD 16 titres + DVD</a></p>
            <p class="content-text-info">M.POKORA</p>    
            <p class="content-text-price">$40.00</p>
            <a class="btn" href="#" role="button">Ajouter au panier</a>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="product-slider-item">
      <div class="product">
        <div class="product-image">
			<img src="https://media.cultura.com/media/catalog/product/cache/1/image/160x160/85e4522595efc69f496374d01ef2bf13/n/i/nintendo-labo-kit-vr-complet-0045496422585_0.jpg" alt="product" class="img-fluid"/>
          <div class="product-hover-overlay"><a href="#" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"><a href="#" class="btn btn-dark btn-buy"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Aperçu</span></a>
            </div>
          </div>
        </div>
        <div class="content-detail">
			<p class="content-text-title"><a href="#" class="text-title-link">PYRAMIDE (Edition collector) | CD 16 titres + DVD</a></p>
            <p class="content-text-info">M.POKORA</p>    
            <p class="content-text-price">$40.00</p>
            <a class="btn" href="#" role="button">Ajouter au panier</a>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="product-slider-item">
      <div class="product">
        <div class="product-image">
			<img src="https://media.cultura.com/media/catalog/product/cache/1/image/271x271/c96a280f94e22e3ee3823dd0a1a87606/s/t/stylo-roller-frixion-bleu-effacable-0-7mm-4902505322723_0.jpg" alt="product" class="img-fluid"/>
          <div class="product-hover-overlay"><a href="#" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"><a href="#" class="btn btn-dark btn-buy"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Aperçu</span></a>
            </div>
          </div>
        </div>
        <div class="content-detail">
			<p class="content-text-title"><a href="#" class="text-title-link">PYRAMIDE (Edition collector) | CD 16 titres + DVD</a></p>
            <p class="content-text-info">M.POKORA</p>    
            <p class="content-text-price">$40.00</p>
            <a class="btn" href="#" role="button">Ajouter au panier</a>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="product-slider-item">
      <div class="product">
        <div class="product-image">
			<img src="https://media.cultura.com/media/catalog/product/cache/1/image/271x271/c96a280f94e22e3ee3823dd0a1a87606/l/e/les-animaux-fantastiques-2-les-crimesde-grindelwald-5051889644378_0.jpg" alt="product" class="img-fluid"/>
          <div class="product-hover-overlay"><a href="#" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"><a href="#" class="btn btn-dark btn-buy"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Aperçu</span></a>
            </div>
          </div>
        </div>
        <div class="content-detail">
			<p class="content-text-title"><a href="#" class="text-title-link">PYRAMIDE (Edition collector) | CD 16 titres + DVD</a></p>
            <p class="content-text-info">M.POKORA</p>    
            <p class="content-text-price">$40.00</p>
            <a class="btn" href="#" role="button">Ajouter au panier</a>
        </div>
      </div>
    </div>
    <!-- /product-->
  </div> 

