<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='aem-template.base'}"/>
</sly>

<!-- Owl Carousel-->
<script src="https://d19m59y37dris4.cloudfront.net/sell/1-2-4/vendor/owl.carousel/owl.carousel.js"></script>
<script src="https://d19m59y37dris4.cloudfront.net/sell/1-2-4/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js"></script>

<!-- Bootstrap JavaScript Bundle (Popper.js included)-->
<script src="https://d19m59y37dris4.cloudfront.net/sell/1-2-4/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>