<div data-sly-use.products="productsV2.js">
    <div class="products-grid">
        <div class="row"
        data-sly-list="${products.componentsList}">
            
                <div data-sly-test="${item.component == 'image'}" data-sly-unwrap>
                </div>
                <div data-sly-test="${item.component == 'teaser'}" data-sly-unwrap>
                </div>
                <div data-sly-test="${item.component == 'input'}" data-sly-unwrap>
                </div>
                <div data-sly-test="${item.component == 'product'}" data-sly-unwrap>
                    <div class="col-xl-3 col-sm-4">
                        <div class="product product-grid">
                            <div class="product-image">
                                <div class="ribbon ribbon-info">Fresh</div><img
                                    src="https://media.cultura.com/media/catalog/product/cache/1/image/160x160/85e4522595efc69f496374d01ef2bf13/l/a/la-vie-secrete-des-ecrivains-9782702165485_0.jpg"
                                    alt="product" class="img-fluid" />
                                <div class="product-hover-overlay"><a href="#l" class="product-hover-overlay-link"></a>
                                    <div class="product-hover-overlay-buttons"><a href="#"
                                            class="btn btn-outline-dark btn-product-left"><i
                                                class="fa fa-shopping-cart"></i></a><a href="#l"
                                            class="btn btn-dark btn-buy"><i class="fa-search fa"></i><span
                                                class="btn-buy-label ml-2">Aperçu</span></a><a href="#"
                                            data-toggle="modal" data-target="#exampleModal"
                                            class="btn btn-outline-dark btn-product-right"><i
                                                class="fa fa-expand-arrows-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="content-detail">
                                <p class="content-text-title"><a href="#" class="text-title-link">PYRAMIDE (Edition
                                        collector) | CD 16 titres + DVD</a></p>
                                <p class="content-text-info">M.POKORA</p>
                                <p class="content-text-price">$40.00</p>
                                <a class="btn" href="#" role="button">Ajouter au panier</a>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
    <nav aria-label="page navigation" class="d-flex justify-content-center mb-5 mt-3">
        <ul class="pagination">
            <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span
                        aria-hidden="true">Prev</span><span class="sr-only">Previous</span></a></li>
            <li class="page-item active"><a href="#" class="page-link">1 </a></li>
            <li class="page-item"><a href="#" class="page-link">2 </a></li>
            <li class="page-item"><a href="#" class="page-link">3 </a></li>
            <li class="page-item"><a href="#" class="page-link">4 </a></li>
            <li class="page-item"><a href="#" class="page-link">5 </a></li>
            <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span
                        aria-hidden="true">Next</span><span class="sr-only">Next </span></a></li>
        </ul>
    </nav>
</div>